.col{
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

h2{
    text-align: center;
}
.cardheading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  #FFF;
    font-size: 30px;
    font-weight: bold;
}

.cardcontainer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
}